<h2>Edit {{celebrity.name}}</h2>

<form action="/celebrities/{{celebrity.id}}/edit" method="POST">
    <div class="form-group col-md-4 m-2">
        <label for=""> Name </label>
        <input type="text" name="name" value="{{celebrity.name}}" class="form-control">
    </div>

    <div class="form-group col-md-4 m-2">
        <label for=""> Occupation</label>
        <input type="text" name="occupation" value="{{celebrity.occupation}}" class="form-control">
    </div>

    <div class="form-group col-md-4 m-2">
        <label for=""> Catch-Phrase </label>
        <input type="text" name="catchPhrase" value="{{celebrity.catchPhrase}}" class="form-control">
    </div>

<select name="favMovie">
      <option value="">Choose movie</option>
    {{#each allMovies}}
        {{!-- name is the name of the author --}}
         {{!-- book.author.name is the name of the book author --}}
        {{#eq title ../celebrity.favMovie.title}}
            <option value={{id}} selected> {{title}}</option>
          {{else}}
            <option value={{id}}>{{title}}</option>
        {{/eq}}
    {{/each}}
  </select>

    <button type="submit" class="btn btn-success btn-lg m-2"> Update </button>

</form>
</div>

<a href="/" class="btn btn-outline-primary mt-3"> <~ Back </a>